.new-item {
    display: flex;
    border-bottom: 1px dashed #CCC;
}
.new-item a {
    text-decoration: none;
    color: #000;
}
.new-item a:hover {
    text-decoration: underline;
}
.new-item .col-3 a {
    color: #31708f;
}
.new-item .col {
    border-left: 1px dashed #CCC;
    padding: 0 15px;
    line-height: 40px;
}
.new-item .col-1 {
    padding-right: 15px;
    line-height: 40px;
    flex-grow: 1;
}
.new-item .col-2 {
    width: 180px;
}
.new-item .col-3 {
    width: 180px;
}
.new-item .col-4 {
    width: 120px;
}
.new-item .fas {
    color: #3c3a3a;
    margin-right: 4px;
}
.top-item {
    width: 129px;
    height: 192px;
    position: relative;
    margin: 12px 0 0 12px;
}
.top-item .title {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 3px;
    box-sizing: border-box;
    color: #FFF;
    text-align: center;
    font-size: 12px;
    background-color: rgba(0, 0, 0, 0.5);
}